{% extends 'base.html' %}
{% block title %}Город{% endblock %}
{% block content %}
<h1>Город</h1>
<div class="row">
    <div class="col-md">
        <p>Поезд номер: {{ object.name }}</p>
        <table class="table table-striped table-hover">
            <tr>
            <th>Номер</th>
            <th>Откуда</th>
            <th>Куда</th>
            <th>Время в пути</th>
            </tr>
            <tr>
                <td>
                    {# <a href="{% url 'trains:detail' pk=object.id%}">{{ object.name }}</a> #}
                    {{ object.name }}
                </td>
                <td>{{ object.from_city }}</td>
                <td>{{ object.to_city }}</td>
                <td>{{ object.travel_time }}</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <a href="{% url 'cities:home' %}">
            <button type="button" class="btn btn-light">Назад к списку</button>
        </a>
    </div>
</div>
{% endblock %}
